@inherits LayoutComponentBase

<nav class="navbar">
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="browse-projects">Browse Projects</NavLink></li>
    </ul>
</nav>

<div class="page-background-image">
    <div class="page-content">
        @Body
    </div>
</div>
