@inherits LayoutComponentBase

<nav class="navbar">
    <ul>
        <li>
            <NavLink href="browse-projects" class="nav-link" @onclick="() => SetActive('p')">
                <p class="nav-text @(activeLink == 'p' ? "active" : "")">ПРОЕКТИ</p>
            </NavLink>
        </li>
        <li>
            <NavLink href="contacts" class="nav-link" @onclick="() => SetActive('c')">
                <p class="nav-text @(activeLink == 'c' ? "active" : "")">КОНТАКТИ</p>
            </NavLink>
        </li>
    </ul>
</nav>

<div class="page-background-image">
    <div class="page-content">
        @Body
    </div>
</div>

@code {
    private char activeLink;

    private void SetActive(char link)
    {
        activeLink = link;
    }
}
