@page "/contacts"

<div class="contact-pad">

    <div class="animated-title">
        <div class="text-top">
            <div>
                <span>Име Фамилия</span>
                <span>специалист</span>
            </div>
        </div>
        <div class="text-bottom">
            <div>по изготвяне на макети</div>
        </div>
    </div>

    <div class="button-container">
        <div class="circle-button phone-button">
            <span class="icon">📞</span>
            <span class="text">Call Us</span>
        </div>
        <div class="circle-button instagram-button">
            <span class="icon">📷</span>
            <span class="text">Instagram</span>
        </div>
    </div>
</div>

@code {
}
