@page "/contacts"

<div class="contact-pad">
    <div class="button-container">
        <h1>Име Фамилия</h1>
        <div class="circle-button phone-button">
            <span class="icon">📞</span>
            <span class="text">Call Us</span>
        </div>
        <div class="circle-button instagram-button">
            <span class="icon">📷</span>
            <span class="text">Instagram</span>
        </div>
    </div>
</div>

@code {
}
